{%- from '_repair_block.jinja2' import repair_block -%}
[DATA]
{{ subtitle_text }}
[/DATA]

[TASK]
{{ task_rules }}

【本次负责的字段】
只输出下列字段，其余字段本次不负责、一律不要输出：
{% for f in field_group.字段 %}
- {{ f }}
{% endfor %}
{{ repair_block(repair_items) }}
[/TASK]
